<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8">
    <title>${article.title}</title>
    <link rel="stylesheet" type="text/css" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/detail.css"/>
    <link rel="stylesheet" type="text/css" href="/css/head.css"/>
    <link rel="stylesheet" type="text/css" href="/node_modules/normalize.css/normalize.css"/>
</head>
<body>
<#include "/common/navbar.html"/>
<div class="container">
    <div class="article">
        <div class="article-head">
            <span class="article-title">${article.title}</span>
            <div class="article-info">
                <span class="article-date">${article.createTime?string("yyyy-MM-dd")}</span>
            </div>
        </div>
        <div class="article-content">${article.content}</div>
        <div class="article-other"></div>
    </div>
</div>

</body>
</html>