<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8">
    <title>${article.title}</title>
    <link rel="stylesheet" type="text/css" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/detail.css"/>
    <link rel="stylesheet" type="text/css" href="/css/head.css"/>
    <link rel="stylesheet" type="text/css" href="/node_modules/normalize.css/normalize.css"/>
    <script type="text/javascript" src="/node_modules/jquery/dist/jquery.min.js"></script>
</head>
<body>
<#include "/common/navbar.html"/>
<div class="container">
    <div class="article">
        <div class="article-head">
            <span class="article-title">${article.title}</span>
            <div class="article-info">
                <span class="article-date">${article.createTime?string("yyyy-MM-dd")}</span>
            </div>
        </div>
            <iframe class="article-content" id="iframepage" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" onLoad="iFrameHeight()" srcdoc="${article.content}"></iframe>
        <div class="article-other"></div>
    </div>
</div>



<script type="text/javascript" language="javascript">
    function iFrameHeight() {
        var ifm= document.getElementById("iframepage");
        var subWeb = document.frames ? document.frames["iframepage"].document : ifm.contentDocument;
        if(ifm != null && subWeb != null) {
            ifm.height = subWeb.body.scrollHeight;
            ifm.width = subWeb.body.scrollWidth;
            $('.article-content').attr("width", ifm.width);
            $('.article-content').attr("height", ifm.height);
//            $('.article-content').css({'height', ifm.height, 'width', ifm.width});
        }

    }
</script>

</body>
</html>