<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>BindBug后台文章列表</title>

    <!-- Bootstrap -->
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/admin/article/list.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <script type="text/javascript" src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/js/common/jqPaginator.min.js"></script>
    <script type="text/javascript" src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="article-list">
        <table class="table table-condensed table-bordered table-hover">
            <tr>
                <th>文章ID</th>
                <th>文章标题</th>
                <th>创建时间</th>
                <th>更新时间</th>
                <th>编辑</th>
                <th>删除</th>
            </tr>
            <tbody>
            <#if (articlePage.totalCount > 0) >
                <#list articlePage.result as articleInfo>
                    <tr id="$!{articleInfo.id}">
                        <td>${articleInfo.id}</td>
                        <td>${articleInfo.title}</td>
                        <td>${(articleInfo.createTime?string("yyyy-MM-dd HH:mm:ss"))!""}</td>
                        <td>${(articleInfo.updateTime?string("yyyy-MM-dd HH:mm:ss"))!""}</td>
                        <td><a class="btn btn-default btn-primary" href="admin/article/edit/${articleInfo.id}" role="button">编辑</a></td>
                        <td><button class="btn btn-default btn-primary" onclick="removeUser('${(articleInfo.id)}')">移除</button></td>
                    </tr>
                </#list>
            </#if>
            </tbody>
        </table>
    </div>
    <div class="article-page" data-total-page-count="${articlePage.totalPageCount}"
         data-total-count="${articlePage.totalCount}"
         data-page-size="${articlePage.pageSize}"
         data-page-no="${articlePage.pageNo}">
        <p id="p1"></p>
        <ul class="pagination" id="pagination"></ul>


    </div>
    <script type="text/javascript">
        var _Pagination = $(".article-page");
        var total_count = _Pagination.data('total-count');
        var total_page_count = _Pagination.data('total-page-count');
        var page_size = _Pagination.data('page-size');
        var page_no = _Pagination.data('page-no');
        $.jqPaginator('#pagination', {
            totalPages: total_page_count,
            visiblePages: 10,
            currentPage: page_no,
            prev: '<li class="prev"><a href="javascript:;">上一页</a></li>',
            next: '<li class="next"><a href="javascript:;">下一页</a></li>',
            page: '<li class="page"><a href="javascript:;">{{page}}</a></li>',
            onPageChange: function (num, type) {
                if (num != page_no) {
                    location.href="/admin/article/list.htm?pageNo=" + num + "&pageSize=20&companyId=" + company_id;
                }
            }
        });
    </script>
    <script type="text/javascript">
        function removeUser(memberId){
//			var memberId = $(this).parent().attr("id");
            var companyId = _Pagination.data('company-id');
            $.post("/company/removeMember.json",
                    {
                        companyId:companyId,
                        memberId: memberId
                    },
                    function(data, status){
                        if(data.state == 1){
                            $("#" + memberId).remove();
                        }else{
                            alert('移除失败,请稍后重试')
                        }
                    });
        }

    </script>
</div>
</body>
</html>