<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8" />
    <title>Simple example - Editor.md examples</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/editormd.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/edit.css"/>
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/js/common/jqPaginator.min.js"></script>
    <script type="text/javascript" src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
<div id="layout">
    <div class="title-area row">
        <div class="col-lg-8">
            <input id="article-title" class="article-title" type="text" size="30" placeholder="请输入文章标题"/>
        </div>
        <div class="submitbutton-area col-lg-4">
            <button class="submit-button" onclick="articlesubmit()" value="提交">提交</button>
        </div>
    </div>
    <div class="tag-area row">
        <div class=" btn-group col-lg-4">
            <button type="button" class="btn btn-default">Action</button>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </div>
        <div class="tags col-lg-8">
            <span class="label label-info"> 技术管理</span>
            <span class="label label-info">java技术</span>
        </div>
    </div>

    <div id="test-editormd">
    <textarea style="display:none;"></textarea>
    </div>

</div>
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/js/editormd.min.js"></script>
<script type="text/javascript">
    var testEditor;

    $(function() {
        testEditor = editormd("test-editormd", {
            width   : "90%",
            height  : 640,
            syncScrolling : "single",
            path    : "/js/lib/"
        });

        /*
         // or
         testEditor = editormd({
         id      : "test-editormd",
         width   : "90%",
         height  : 640,
         path    : "../lib/"
         });
         */
    });


    function articlesubmit(){
        var content = testEditor.getHTML();
        var title = document.getElementById("article-title").value;
        var markdownContent = testEditor.getMarkdown(); ;
        if(title.length == 0){
            alert("请填写文章标题");
            return;
        }
        $.post("addArticle.json",
                {
                    content:content,
                    title: title,
                    markdownContent: markdownContent
                },
                function(data, status){
                    if(data.state == 1){
                        window.location.href="/";
                    }else{
                        alert('文章添加失败,请稍后重试')
                    }
                });
    }
</script>
</body>
</html>