div{
    display: block;
}

ul{
    display: block;
    list-style: none;
    margin: 0;
}

.article{
    width: 80%;
    margin: 50px auto;
    text-align: center;
}

.article-head{
    padding-top: 20px;
}

.article-title{
    font-size: 30px;
    border: 2px;
}

.article-date{
    padding-left: 30px;
}

.article-content{
    border:none;
    /*height: 100%;*/
    width: 80%;

}

