nav ul li{
    float: right;
}

nav ul li, nav .logo{
    display: inline-block;
    line-height: 50px;
    margin-right: 20px;
}


nav ul li a{
    line-height: 50px;
    text-decoration: none;
    display: inline-block;
    height: inherit;
    color: black;
}

.header{
    /*background-color: black;*/
    height: 50px;
}

.logo{
    float: left;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    height: inherit;
    padding-left: 10px;

}
.logo a{
    text-decoration: none;
    color: black;
}