.login-main{
    padding-bottom: 30px;

}

.login-header{
    padding: 50px 0px 22px 0px;
    text-align: center;
}

.login-area{
    margin: 0 auto;
}

.login-name{
    padding-bottom: 10px;
}





.button-bg{
    padding-top: 10px;
    padding-bottom: 15px;
    margin: auto;
}

.login-input{
    width: 350px;
    margin: auto;
}

.login-input input{
    width: 310px;
    height: 30px;
    line-height: 22px;
    padding: 13px 16px 13px 14px;
    display: block;
    margin: 10px auto;
}

.login-button{
    background-color: black;
    width: 344px;
    line-height: 30px;
    display: block;
    text-align: center;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    margin: auto;
    padding: 13px 16px 10px 14px;
}