body{
    margin-top: 70px;
}

div{
    display: block;
}

input{
    display: block;
}
ul{
    display: block;
    list-style: none;
    margin: 0;
}
/*分割线*/
/*.hr{*/
    /*width: 100%;*/
    /*margin: 30px auto auto;*/
    /*height: 2px;*/
    /*background-color: rgba(0, 0, 0, 0.2)*/
/*}*/


